.about {
  padding-bottom: 1rem;
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50vh;
    background: linear-gradient(
        to right,
        rgba($color-primary, 0.9),
        rgba($color-primary, 0.3)
      ),
      url("../assets/images/model-1.jpg") center top;
    background-size: cover;
    padding-bottom: 2rem;

    .bio-content {
      max-width: 80%;
      text-align: center;

      h2 {
        margin-bottom: 1rem;
      }
    }
  }
  .jobs-section {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 60vw;
    justify-content: center;
    grid-gap: 1rem;

    .job {
      padding: 0.5rem;
      background: lighten($color-primary, 10);
      border-bottom: 5px solid $color-secondary;

      h2 {
        margin: 0.5rem 0;
      }
      h3 {
        margin: 0.4rem 0;
      }
      h4 {
        margin: 0.3rem 0;
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    left: 0.5rem;
    align-items: center;
  }
}

footer.about {
  transform: rotate(90deg) translate(-5rem, -7rem);
}
