@import "./config";
@import "./home";
@import "./header";
@import "./about";
@import "./projects";
@import "./contact";
@import "./responsive";

body {
  background: $color-primary;
  color: set-text-color($color-primary);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

a {
  color: set-text-color($color-primary);
  text-decoration: none;
}

.secondary-text {
  color: $color-secondary;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0 1rem;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1.1rem;

    a {
      display: inline-block;
      padding: 0.4rem;
      @include transition-ease;

      &:hover {
        color: $color-secondary;
        transform: scale(1.2);
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0.4rem;
  right: 2rem;
  color: set-text-color($color-primary);
  padding: 1rem;
  text-align: right;
}

footer.home-footer {
  right: initial;
  padding: 0;
  bottom: 0.2rem;
  right: 1.1rem;
}
